<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>

<meting-js
	name="Anti - Hero"
	artist="Taylor Swift"
	url="https://zanelewes.oss-cn-beijing.aliyuncs.com/img/202210281409839.mp3"
	cover="https://y.gtimg.cn/music/photo_new/T002R300x300M000004duMMb29d9fe.jpg">
</meting-js>